<h1> Create Purchase</h1>

<form method="POST" action="/purchases/add">
  <select name="UserId">
    <% users.forEach(u => { %>
      <option value="<%= u.id %>"><%= u.email %></option>
    <% }) %>
  </select>

  <button type="submit">Create</button>
</form>