<h1>Purchase History</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Total Buku</th>
  </tr>

  <% purchases.forEach(p => { %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.Books.length %> buku</td>
    </tr>
  <% }) %>
</table>

<br>
<a href="/purchases">Back</a>