<h1> Purchases</h1>

<a href="/purchases/add"> Add Purchase</a>

<table border="1">
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Action</th>
  </tr>

  <% purchases.forEach(p => { %>
    <tr>
      <td><%= p.User?.email %></td>
      <td><%= formatDate(p.purchasedDate) %></td>
      <td>
        <a href="/purchases/<%= p.id %>">Detail</a>
        <a href="/purchases/<%= p.id %>/delete">Delete</a>
      </td>
    </tr>
  <% }) %>
</table>

